$border-color: rgb(201, 197, 197);
$secondary-border-color: rgb(248, 246, 246);

.calendarDayContainer {
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  overflow-y: overlay;
  &:first-of-type {
    border-left: 1px solid $border-color;
  }
  &:hover {
    cursor: pointer;
  }
  .dayHeader {
    position: sticky;
    left: 0;
    top: 0;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid $border-color;
    border-bottom: 2px solid $border-color;
    background: white;
    font-weight: 600;
  }
  .timeUnit {
    list-style: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-top: 2px dashed $secondary-border-color;
    user-select: none;
    &:first-of-type {
      border-top: none;
    }
  }
  .color {
    background: lightblue;
  }
}
