.calendarDayContainer {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 80%;
  overflow-y: overlay;
  &:hover {
    cursor: pointer;
  }
  .timeUnit {
    list-style: none;
    padding: 3rem 0;
    border-top: 1px dashed whitesmoke;
    border-bottom: 1px dashed whitesmoke;
    user-select: none;
  }
  .color {
    background: lightblue;
  }
}
