.controlSection {
  .filteredSection {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    .filterContent {
      flex: 1;
      padding-top: 2rem;
      .sectionTitle {
        font-size: 2rem;
      }
    }
  }
  .sectionTitle {
    text-align: center;
  }
}

.mappedItemsContainer {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}
