html,
body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: overlay;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer,
main {
  width: 100vw;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgb(89, 152, 247);
  &:hover {
    background: rgb(41, 126, 255);
    transform: scale(1.1);
    transition: 0.1s ease-in;
  }
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
